.userDashboardContainer {
  height: 100vh;
  margin: 30px 60px;
}

.userInfoContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  padding: 3%;
  width: 35vw;
  height: 85vh;
  left: 20%;
  margin-top: 10px;
  background: #7bc2e5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

.userImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  width: 15vw;
  background-color: #ffffff;
  border-radius: 50%;
}

.roundImage {
  display: block;
  width: 100%;
  max-width: 300px;
  height: 300px;
  border-radius: 50%;
}

.info_placeholder {
  color: #7bc2e5;
  font-size: 80px;
}

.profileContainer {
  margin-top: 20%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: rgb(255, 255, 255);
}

.profileRow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

.profileLabel {
  font-weight: bold;
  width: 50%;
}

.profileData {
  width: 40%;
  font-size: 16px;
  flex-grow: 1;
  color: #18547f;
}

.userPerformContainer {
  margin-top: 10px;
  position: absolute;
  padding: 20px;
  width: 35vw;
  height: 85vh;
  left: 60%;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

.userPerform_heading {
  display: flex;
  justify-content: space-between;
}

.userPerform_date {
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px;
}

.category {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.color {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 10px;
}

.qualityColor {
  background-color: #fd1f9b;
}

.socialColor {
  background-color: #264083;
}

.selfColor {
  background-color: #30d987;
}

.leaderColor {
  background-color: #6342ff;
}

.changeColor {
  background-color: #f0f410;
}

.categoryName {
  font-size: 12px;
  width: 150px;
}

.categoryPercentage {
  font-size: 14px;
  margin-left: 200px;
}

.categoryPercentage {
  font-size: 12px;
  width: 10%;
  font-weight: 800;
}

.breifInfo {
  font-size: 14px;
  margin-top: 6%;
}

.breifInfo p {
  font-size: 80%;
}
