.excludedSurveyPacks {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 20px;
}

.otherSurveyPack_container {
  margin: 30px;
  height: 82vh;
}
.descriptionBox {
  padding: 1.2rem;
}

/* Responsive */
@media (max-width: 768px) {
  .excludedSurveyPacks > div {
    flex: 1 0 100%;
    max-width: 100%;
  }
}
