.surveys_container {
  width: 90%;
  height: 100%;
  margin: 3.2rem;
  padding: 2rem;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.actions {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.table_container {
  overflow-x: auto;
  max-height: 500px;
}
.table_container th {
  font-weight: bold;
  text-align: left;
}
.table_container tr th:first-child {
  width: 5%;
}
.table_container tr th:nth-child(2) {
  width: 20%;
}

.table_container tr th:nth-last-child(2),
.table_container tr th:last-child {
  width: 17%;
  white-space: nowrap;
}

.table_container table {
  table-layout: fixed;
}

ul {
  margin: 0;
  padding: 5;
}

li {
  margin: 0.5rem 0;
}
