.mainConsole {
  display: flex;
  flex-direction: row;
  background-color: #f8f9ff;
}

.sidemenu {
  display: flex;
  flex-direction: column;
  width: 15%;
  background-color: #081a51;
  color: #ccd2e3;
  transition: all 0.3s;
  z-index: 11;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.4);
  position: fixed;
  height: 100%;
}

.mainitems {
  margin-left: 15%;
  width: 82%;
}
