.mainConsole {
  display: flex;
  flex-direction: row;
  background-color: #f8f9ff;
}

.sidemenu {
  display: flex;
  flex-direction: column;
  width: 15%;
  background-color: #081a51;
  color: #ccd2e3;
  position: fixed;
  height: 100vh;
}

.mainitems {
  margin-left: 15%;
  width: 85%;
}
