.container {
  width: 100%;
  margin: 20px;
}
.cardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.employeeCard {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: rgb(135, 172, 204);
}

.employeeCard:hover {
  background-color: #b8cfe0;
}

.employeeCard.selected {
  background-color: #e0e0e0;
}

.employeeCard img {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.employee_roundImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.employee_placeholder {
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fbfbfb;
  text-transform: uppercase;
  color: #18547f;
}
.employee_placeholder h2 {
  font-size: medium;
}

.employeeCard .details {
  flex: 1;
  padding: 10px;
}

.details h5 {
  margin: 0;
  font-size: 18px;
}

.details p {
  margin: 0;
  color: #ffffff;
  font-size: 14px;
}
