.adminNav {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 12vh;
  background: #ffffff;
  color: rgb(0, 0, 0);
}

.sidebar_toggle {
  border: none;
  font-size: 4vh;
  /* background: #ff5722; */
  margin-right: 0;
  cursor: pointer;
}

.mainNav {
  display: flex;
  align-items: center;
  width: 90%;
}

.mainNav img {
  width: 100%;
  max-width: 60px;
  height: 40px;
  margin: 0 0 0 20px;
}

.dropDownNav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 18%;
  overflow: hidden;
}

.adminNav select {
  height: 40%;
  box-shadow: none;
  border: none;
  color: rgb(0, 0, 0);
}

.roundImage {
  display: block;
  width: 100%;
  max-width: 50px;
  height: 50px;
  border-radius: 50%;
}

.placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #f0f0f0;
  text-transform: uppercase;
  color: #9b9b9b;
}

.pageHeading {
  margin-left: 30px;
}
